@import 'variables';
@import 'settings';

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .app-container {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  #login {
    margin-top: 7em;

    button {
      border: none;
      color: $white;
      background-color: $green;
      font-size: $base-font-size - 2;
      padding: 1em 1.8em;
      border-radius: 3px;
      margin-top: 5em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .rooms {
    text-align: center;
  }

  .room {
    margin-bottom: .5em;
    height: 1.8em;
    line-height: 1.8em;
    font-size: $base-font-size;
    border-radius: 2px;

    &:first-child {
      margin-top: 3.5em;
    }
  }

  .not-available {
    background-color: $light-grey;
    color: $room-unavailable;
  }

  .available {
    background-color: $green;
    color: $white;
  }
}
