@import 'variables';
@import 'settings';
@import 'loading_icon';
@import 'mixins';

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .app-container {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 3em;
  }

  #login {
    margin-top: 7em;

    button {
      border: none;
      color: $white;
      background-color: $green;
      font-size: $base-font-size - 2;
      padding: 1em 1.8em;
      border-radius: 3px;
      margin-top: 5em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .rooms {
    text-align: center;
    background-color: $white;
    z-index: 2;
    position: relative;
  }

  .room {
    height: 1.8em;
    line-height: 1.8em;
    font-size: $base-font-size;
    border-radius: 2px;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;

    &:hover {
      .room-info {
        top: -38px;
      }

      .progress-bar {
        border-bottom-left-radius: 0;
        border-top-left-radius: 2px;
      }
    }
  }

  .room-info {
    @include transition(top .2s ease);
    position: relative;
    top: -5px;
  }

  .info-text {
    font-size: 12pt;
    color: $black;
    background-color: $light-grey;
    display: inline-block;
    position: relative;
    line-height: 2em;
    top: -5px;
  }

  #stopwatch {
    display: inline-block;
    width: 20px;
    position: relative;
    top: 5px;
    right: 8px;
  }

  .progress-bar {
    height: 6px;
    background-color: $green;
    border-bottom-left-radius: 2px;
  }

  .not-available {
    background-color: $light-grey;
    color: $room-unavailable;
  }

  .available {
    background-color: $green;
    color: $white;
  }
}
