@mixin transition ($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin bp-iphone4-iphone6 {
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px) {
    @content;
  }
}

@mixin bp-ipad-desktop {
  @media screen and (min-device-width: 667px) {
    @content;
  }
}
