@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Abel);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $black;
  font-family: 'Abel', sans-serif;
}

body, ul, h1, p, a, textarea, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
